<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
<input class="form-control" id="filterText" type="text"
[(ngModel)]="filterText"
placeholder="Marka ara..." aria-label="readonly input example" > 
<p>

</p>
<table *ngIf="dataLoaded!=false" class="table table-striped table-light table-hover">
  <thead>
  <tr>
  </tr>
  </thead>
  <ul class="list group">
  <li [class]="getAllBrandClass()" routerLink="/cars"> TÜM MARKALAR</li>
  <li (click)="setCurrentBrand(brand)" 
  routerLink= "/cars/brand/{{brand.id}}"
  *ngFor="let brand of brands | brandSearch:filterText"
  [class]="getCurrentBrandClass(brand)">
  {{brand.brandName}}</li>
  </ul>
  <h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz.</h5>
</table>


