<div id="content" class="site-content container"> <div class="row pull-left">
    <div id="primary" class="content-area col-sm-12 col-md-12">
    <main id="main" class="site-main" role="main">
    <article id="post-1699" class="post-1699 page type-page status-publish hentry">
    <div class="entry-content">
    <div id="cptbc_310" class="carousel slide" data-interval="5000">
    <div class="carousel-inner">
    <div class="item active" id="cptbc-item-2021">  
    </div>
    <a class="left carousel-control" href="#cptbc_310" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#cptbc_310" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>