<div *ngIf="dataLoaded == false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
<table *ngIf="dataLoaded != false" class="table table-striped table-light table-hover">
  <thead>
    <tr>
      <th>Car Id</th>
      <th>Customer Id</th>
      <th>Rent Date</th>
      <th>Return Date</th>
    </tr>
  </thead>
  <tr *ngFor="let rental of rentals">
    <td>{{ rental.brandName }}</td>
    <td>{{ rental.companyName }}</td>
    <td>{{ rental.rentDate }}</td>
    <td>{{ rental.returnDate }}</td>
  </tr>
</table>
