<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
<table *ngIf="dataLoaded!=false"
 class="table">
    <thead>
        <tr>
        <th>Customer Id</th>
        <th>Rent Date</th>
        <th>Return Date</th>
        <th>Customer Id</th>
    </tr>
    </thead>
    <tr *ngFor="let color of colors">
        <td>{{rental.customerId}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
        <td>{{rental.carId}}</td> 
        
    </tr>
  </table>