<form [formGroup]="rentAddForm"  class="row g-3" >
  <div class="row g-4" > 
    <div  class="d-flex justify-content-center " class="col-md-12" class="mb-">
      <label for="rentDate" >Başlangıç Tarihi</label> 
      <input type="datetime-local" formControlName="rentDate" class="form-control" id="rentDate" placeholder="" required>
      <label for="returnDate" >Bitiş Tarihi</label>
      <input type="datetime-local" formControlName="returnDate" class="form-control" id="returnDate" placeholder="Bitiş Tarihi" required>
    </div>
  </div>

  <div class="col-md-6">
    <label for="companyName" class="form-label">Adınız</label>
    <input type="text" formControlName="firstName" class="form-control" id="Ad" placeholder="Ad...">
  </div>
  <div class="col-md-6">
    <label for="companyName" class="form-label">Soyadınız</label>
    <input class="form-control" formControlName="lastName" class="form-control" id="Soyad" placeholder="Soyad...">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">e-Mail</label>
    <input type="email" class="form-control"  formControlName="email"  id="inputAddress" placeholder="e-Mail...">
  </div>
  <div class="col-3">
    <label for="inputAddress" class="form-label">Marka</label>
    <input type="text" class="form-control"  formControlName="brandName"  id="inputAddress" placeholder="Marka...">
  </div>
  <div class="col-md-3">
    <label for="carName" class="form-label">Model</label>
    <input type="text" class="form-control" formControlName="modelYear" id="inputCity" placeholder="Model...">
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label">Renk</label>
    <input type="text" class="form-control" formControlName="colorName" id="inputZip" placeholder="Renk...">
  </div>
  <div class="col-md-3">
    <label for="inputCity" class="form-label">Fiyatı</label>
    <input type="text" class="form-control" formControlName="dailyPrice" id="inputCity" placeholder="Fiyatı...">
  </div>

  <div class="col-md-6"  >
    <button (click)="addToRent()" type="button" class="btn btn-primary btn-lg btn-block">Talep Oluştur</button>
   </div>

  <div class="col-md-6"  >
   <button routerLink="/payment" type="button" class="btn btn-primary btn-lg btn-block">Kirala</button>
  </div>

 



</form>