<div class="container .bg-light ">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
      <app-customer></app-customer>
      <app-rental></app-rental>
      <br />
      <app-color></app-color>
    </div>
    <div class="col-md-3 offset-md-2">
      <app-car></app-car>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
