<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>
<table *ngIf="dataLoaded!=false" class="table table-striped table-bordered bg-light table-light table-hover">
    <thead>
        <tr>
        <th>Car Id</th>
        <th>Brand Name</th>
        <th>Color Name</th>
        <th>Car Name</th>
        <th>Model Year</th>
        <th>Description</th>
        <th>Daily Price</th>
        <th>Araç Detay</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars"  >
        <td>{{car.id}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.description}}</td>
        <td>{{car.dailyPrice}}</td>
       <button class="btn btn-warning" (click)="setCurrentCar(car)"
        routerLink="/cars/getbycardetails/{{car.id}}" >Detay </button>

    </tr>
</table>
