<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>

<input class="form-control" id="filterText" type="text" [(ngModel)]="filterText" placeholder="Araç ara..."
    aria-label="readonly input example">
<div *ngIf="filterText.length>2" class="alert alert-warning"> {{filterText}} aranıyor...</div>

<p> </p>

<table class="table-borderless">
    <tbody>
      <tr class="col-md-12">
        <td class="col-md-11">
          <select  class="form-select" aria-label="MArka filtresi" [(ngModel)]="selectedBrandId" >
            <option [value]="0">Hepsi</option>
            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brandName}}</option>
          </select>
        </td>
        <td class="col-md-1">
          <button type="button" class="btn btn-primary" (click)="getCarsByBrand(selectedBrandId)" >Filtrele</button>
        </td>
      </tr>
      <tr class="col-md-12">
        <td class="col-md-11">
          <select class="form-select" aria-label="Renk secimi" [(ngModel)]="selectedColorId" >
            <option [value]="0">Hepsi</option>
            <option [value]="color.id"  *ngFor="let color of colors" >{{color.colorName}}</option>
          </select>
        </td>
        <td class="col-md-1">
          <button type="button" class="btn btn-primary" (click)="getCarsByColor(selectedColorId)" >Filtrele</button>
        </td>
      </tr>
    </tbody>
  </table>
  

<p></p>


<table *ngIf="dataLoaded!=false" class="table table-striped table-bordered bg-light table-light table-hover">
    <thead>
        <tr>
            <th>Car Id</th>
            <th>Brand Name</th>
            <th>Color Name</th>
            <th>Car Name</th>
            <th>Model Year</th>
            <th>Description</th>
            <th>Daily Price</th>
            <th>Araç Detay</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars | carSearch:filterText">
        <td>{{car.id}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.description}}</td>
        <td>{{car.dailyPrice}}</td>
        <button class="btn btn-warning" (click)="setCurrentCar(car)" routerLink="/cars/getbycardetails/{{car.id}}">Detay
        </button>

    </tr>
</table>